<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Dafp'c !{% endblock %}</title>

        {% block stylesheets %}
            <!-- Appel des bibliothèques Bootstrap -->
            <link rel="stylesheet" type="text/css" href="{{ asset('bundles/dafpc/css/bootstrap.css') }}" />
            <link rel="stylesheet" type="text/css" href="{{ asset('bundles/dafpc/css/bootstrap-theme.css') }}" />
            <!-- Appel de nos feuilles de style CSS -->
            <link rel="stylesheet" type="text/css" href="{{ asset('bundles/dafpc/css/stylesheet.css') }}" />
        {% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
