<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>

        {% block stylesheets %}
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
            <link rel="stylesheet" href="{{ asset('bundles/framework/css/style.css') }}" type="text/css">
        {% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}

            <nav class="navbar navbar-default navbar-fixed-top">
                <div class="container">
                    <li><a href="/">Home</a></li>
                    <li><a href="/">Mes Défis</a></li>
                    <li><a href="/">Mes amis</a></li>
                    <li><a href="/admin/logout">Deconnexion</a></li>
                </div>
            </nav>



                    </ul>
                </div>
            </nav>

        {% endblock %}
        {% block javascripts %}
            https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bojsotstrap.min.
        {% endblock %}
    </body>
</html>
