{% extends 'base.html.twig' %}
{% block title %}Dafp'c | Home{% endblock %}
{% block body %}
    <h2>Le Dernier Arrivé est Fan de Phil Collins !</h2>
    <iframe class="video" src="https://www.youtube.com/embed/BJevFLbcDnI?autoplay=1&loop=1&controls=0&playlist=BJevFLbcDnI&showinfo=0" frameborder="0" allowfullscreen></iframe>

{% endblock %}