body {
    height: 100vh;
    min-height: inherit;
    /*background-color: #EEEEEE;*/
}

/*
header[role="banner"] {
    #logo-main {
        display: block;
        margin: 20px auto;
    }
}

#navbar-primary.navbar-default {
    background: transparent;
    border: none;
    .navbar-nav {
        width: 100%;
        text-align: center;
        > li {
            display: inline-block;
            float: none;
            > a {
                padding-left: 30px;
                padding-right: 30px;
            }
        }
    }
}
*/

.video {
    padding: 0;
    margin: auto 0;
    width: 100%;
    height: 35em;
}

.dropdown-menu {
    padding: 1em 1em 0;
}

.dropdown-menu input {
    display: block;
    margin-bottom: 1em;
}

.dropdown-menu input[type="checkbox"] {
    /**/display: initial;
}

.dropdown-menu label {
    /*display: inline;*/
}

.jumbotron {
    /*background-color: orangered;*/
    background: rgb(199,34,0);
    background: -moz-linear-gradient(-45deg,  rgba(199,34,0,1) 0%, rgba(255,102,0,1) 25%, rgba(234,40,3,1) 49%, rgba(232,108,87,1) 50%, rgba(243,197,189,1) 100%);
    background: -webkit-linear-gradient(-45deg,  rgba(199,34,0,1) 0%,rgba(255,102,0,1) 25%,rgba(234,40,3,1) 49%,rgba(232,108,87,1) 50%,rgba(243,197,189,1) 100%);
    background: linear-gradient(135deg,  rgba(199,34,0,1) 0%,rgba(255,102,0,1) 25%,rgba(234,40,3,1) 49%,rgba(232,108,87,1) 50%,rgba(243,197,189,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c72200', endColorstr='#f3c5bd',GradientType=1 );
}

.jumbotron h1,
.jumbotron h2,
.jumbotron h3,
.jumbotron h4,
.jumbotron h5 {
    text-align: center;
    color: floralwhite;
    margin-top: 0;
    margin-bottom: 0.75em;
}

.jumbotron > img {
    width: 100%;
}

#map_canvas {
    height: 75vh;
    width: 100%;
}

.table-responsive {
    border: none;
}

@media screen and (min-width: 768px) {
    .jumbotron {
        padding-top: 20px;
    }
    .jumbotron h1,
    .jumbotron h2,
    .jumbotron h3,
    .jumbotron h4,
    .jumbotron h5 {
        font-size: 250%;
    }
}