{% extends 'base.html.twig' %}
{% block title %}Dafp'c | Upload{% endblock %}

{% block body %}
    <h1>Télécharger une nouvelle photo</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}

    {{ form_end(form) }}

    <ul class="list-inline">
        <li>
            <a href="{{ path('upload_index') }}">Liste des défis</a>
        </li>
    </ul>
{% endblock %}
